/*------------LIGHTS-------------*/
#lights-preview {
    width: 800px;
    height: 300px;
    position: relative;
    border: 1px solid #ccc;
    background-color: #444;
}


/*-------------PRESETS-------------*/
#presets-window {
    width: 800px;
    height: 300px;
    position: relative;
    background-color: #393939;
    display: flex;
}

#preset-preview {
    display: flex;
}

#preset-container {
    display: block;
    width: 400px;
    height: 300px;
    border: 1px solid #444;
}

    #preset-container > label {
        display: block;
    }

.preset-block {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #444
}

.preset-block input[type="text"] {
    width: 100px;
}
    .color-preview {
        content: " ";
        position: relative;
        display: inline-block;
        left: 10px;
        width: 50px;
        height: 30px;
    }

/*--------------MIDI--------------*/
#midi-devices {
    border: 1px solid #444;
    width: 350px;
}
#midi-preset-assign {
    border: 1px solid #444;
    height: 250px;
}
#midi-preview {
    display: flex;
}
#midi-handler {
    margin-top: 30px;
}

/*--------------CHECKBOX--------------*/
.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

    .checkbox-wrapper-22 .switch input {
        display: none;
    }

.checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

    .checkbox-wrapper-22 .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

.checkbox-wrapper-22 input:checked + .slider {
    background-color: #66bb6a;
}

    .checkbox-wrapper-22 input:checked + .slider:before {
        transform: translateX(26px);
    }

.checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
}

    .checkbox-wrapper-22 .slider.round:before {
        border-radius: 50%;
    }